<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.DataDspSlotMapper">

    <resultMap type="DataDspSlot" id="DataDspSlotResult">
        <result property="id"    column="id"    />
        <result property="dspSlotId"    column="dsp_slot_id"    />
        <result property="dspSlotCode"    column="dsp_slot_code"    />
        <result property="dspSlotName"    column="dsp_slot_name"    />
        <result property="showPv"    column="show_pv"    />
        <result property="showUv"    column="show_uv"    />
        <result property="clickPv"    column="click_pv"    />
        <result property="clickUv"    column="click_uv"    />
        <result property="reqPv"    column="req_pv"    />
        <result property="reqUv"    column="req_uv"    />
        <result property="discard"    column="discard"    />
        <result property="retPv"    column="ret_pv"    />
        <result property="retUv"    column="ret_uv"    />
        <result property="spend"    column="spend"    />
        <result property="income"    column="income"    />
        <result property="discountClickPv"    column="discount_click_pv"    />
        <result property="discountShowPv"    column="discount_show_pv"    />
        <result property="dplsuccPv"    column="dplsucc_pv"    />
        <result property="completePv"    column="complete_pv"    />
        <result property="installPv"    column="install_pv"    />
        <result property="activatePv"    column="activate_pv"    />
        <result property="date"    column="date"    />
        <result property="createdAt"    column="created_at"    />
    </resultMap>

    <sql id="selectDataDspSlotVo">
        select t.id, t.dsp_slot_id, t.dsp_slot_code, t.show_pv, t.show_uv, t.click_pv, t.click_uv, t.req_pv, t.req_uv, t.discard, t.ret_pv, t.ret_uv, t.spend, t.income, t.discount_click_pv, t.discount_show_pv, t.dplsucc_pv, t.complete_pv, t.install_pv, t.activate_pv, t.date, t.created_at,
        dsp_slot.name as dsp_slot_name
        from ${tableName} t
        left join dsp_slot_info dsp_slot on t.dsp_slot_id = dsp_slot.id
    </sql>

    <select id="selectDataDspSlotList" parameterType="DataDspSlot" resultMap="DataDspSlotResult">
        <include refid="selectDataDspSlotVo"/>
        <where>
        </where>
    </select>

    <select id="selectDataDspSlotById" parameterType="DataDspSlot" resultMap="DataDspSlotResult">
        <include refid="selectDataDspSlotVo"/>
        where id = #{id}
    </select>
</mapper>
