<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.DspAdTypeMapper">
    
    <resultMap type="DspAdType" id="DspAdTypeResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectDspAdTypeVo">
        select id, name,create_by, create_time, update_by, update_time, remark from dsp_ad_type
    </sql>

    <select id="selectDspAdTypeList" parameterType="DspAdType" resultMap="DspAdTypeResult">
        <include refid="selectDspAdTypeVo"/>
        <where>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="createTime != null "> and create_time = #{createTime}</if>
        </where>
    </select>
    
    <select id="selectDspAdTypeById" parameterType="Long" resultMap="DspAdTypeResult">
        <include refid="selectDspAdTypeVo"/>
        where id = #{id}
    </select>

    <insert id="insertDspAdType" parameterType="DspAdType" useGeneratedKeys="true" keyProperty="id">
        insert into dsp_ad_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name">name,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateDspAdType" parameterType="DspAdType">
        update dsp_ad_type
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDspAdTypeById" parameterType="Long">
        delete from dsp_ad_type where id = #{id}
    </delete>

    <delete id="deleteDspAdTypeByIds" parameterType="String">
        delete from dsp_ad_type where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!-- 查询广告类型分布统计数据 -->
    <select id="selectAdTypeDistribution" resultType="java.util.HashMap">
        SELECT
            t.id,
            t.name,
            IFNULL(COUNT(s.id), 0) as slot_count
        FROM dsp_ad_type t
        LEFT JOIN dsp_slot_info s ON t.id = s.ad_type_id
        GROUP BY t.id, t.name
        ORDER BY slot_count DESC
    </select>
</mapper>