<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.DspDataCorrectedMapper">
    
    <resultMap type="DspDataCorrected" id="DspDataCorrectedResult">
        <result property="id"    column="id"    />
        <result property="dataSspSlotDayId"    column="data_ssp_slot_day_id"    />
        <result property="sspPayType"    column="ssp_pay_type"    />
        <result property="spend"    column="spend"    />
        <result property="income"    column="income"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectDspDataCorrectedVo">
        select id, data_ssp_slot_day_id, ssp_pay_type, spend, income, create_by, create_time, update_by, update_time, remark from dsp_data_corrected
    </sql>

    <select id="selectDspDataCorrectedList" parameterType="DspDataCorrected" resultMap="DspDataCorrectedResult">
        <include refid="selectDspDataCorrectedVo"/>
        <where>  
        </where>
    </select>
    
    <select id="selectDspDataCorrectedById" parameterType="Long" resultMap="DspDataCorrectedResult">
        <include refid="selectDspDataCorrectedVo"/>
        where id = #{id}
    </select>

    <insert id="insertDspDataCorrected" parameterType="DspDataCorrected" useGeneratedKeys="true" keyProperty="id">
        insert into dsp_data_corrected
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="dataSspSlotDayId != null">data_ssp_slot_day_id,</if>
            <if test="sspPayType != null">ssp_pay_type,</if>
            <if test="spend != null">spend,</if>
            <if test="income != null">income,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="dataSspSlotDayId != null">#{dataSspSlotDayId},</if>
            <if test="sspPayType != null">#{sspPayType},</if>
            <if test="spend != null">#{spend},</if>
            <if test="income != null">#{income},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateDspDataCorrected" parameterType="DspDataCorrected">
        update dsp_data_corrected
        <trim prefix="SET" suffixOverrides=",">
            <if test="dataSspSlotDayId != null">data_ssp_slot_day_id = #{dataSspSlotDayId},</if>
            <if test="sspPayType != null">ssp_pay_type = #{sspPayType},</if>
            <if test="spend != null">spend = #{spend},</if>
            <if test="income != null">income = #{income},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDspDataCorrectedById" parameterType="Long">
        delete from dsp_data_corrected where id = #{id}
    </delete>

    <delete id="deleteDspDataCorrectedByIds" parameterType="String">
        delete from dsp_data_corrected where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>