<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.DspLaunchMapper">
    
    <resultMap type="DspLaunch" id="DspLaunchResult">
        <result property="id"    column="id"    />
        <result property="sspSlotId"    column="ssp_slot_id"    />
        <result property="dspSlotId"    column="dsp_slot_id"    />
        <result property="trafficWeight"    column="traffic_weight"    />
        <result property="launchStrategy"    column="launch_strategy"    />
        <result property="floorPrice"    column="floor_price"    />
        <result property="ipLimit"    column="ip_limit"    />
        <result property="logCaptureAt"    column="log_capture_at"    />
        <result property="trackSchwarz"    column="track_schwarz"    />
        <result property="req"    column="req"    />
        <result property="ims"    column="ims"    />
        <result property="clk"    column="clk"    />
        <result property="launchTime"    column="launch_time"    />
        <result property="regionDirection"    column="region_direction"    />
        <result property="brandDirection"    column="brand_direction"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectDspLaunchVo">
        select id, ssp_slot_id, dsp_slot_id, traffic_weight, launch_strategy, floor_price, ip_limit, log_capture_at, track_schwarz, req, ims, clk, launch_time, region_direction, brand_direction, create_by, create_time, update_by, update_time, remark from dsp_launch
    </sql>

    <select id="selectDspLaunchList" parameterType="DspLaunch" resultMap="DspLaunchResult">
        <include refid="selectDspLaunchVo"/>
        <where>  
            <if test="sspSlotId != null "> and ssp_slot_id = #{sspSlotId}</if>
            <if test="dspSlotId != null "> and dsp_slot_id = #{dspSlotId}</if>
            <if test="trafficWeight != null "> and traffic_weight = #{trafficWeight}</if>
            <if test="launchStrategy != null "> and launch_strategy = #{launchStrategy}</if>
            <if test="floorPrice != null "> and floor_price = #{floorPrice}</if>
            <if test="ipLimit != null "> and ip_limit = #{ipLimit}</if>
            <if test="logCaptureAt != null "> and log_capture_at = #{logCaptureAt}</if>
            <if test="trackSchwarz != null  and trackSchwarz != ''"> and track_schwarz = #{trackSchwarz}</if>
            <if test="req != null "> and req = #{req}</if>
            <if test="ims != null "> and ims = #{ims}</if>
            <if test="clk != null "> and clk = #{clk}</if>
            <if test="launchTime != null "> and launch_time = #{launchTime}</if>
            <if test="regionDirection != null "> and region_direction = #{regionDirection}</if>
            <if test="brandDirection != null "> and brand_direction = #{brandDirection}</if>
        </where>
    </select>
    
    <select id="selectDspLaunchById" parameterType="Long" resultMap="DspLaunchResult">
        <include refid="selectDspLaunchVo"/>
        where id = #{id}
    </select>

    <insert id="insertDspLaunch" parameterType="DspLaunch" useGeneratedKeys="true" keyProperty="id">
        insert into dsp_launch
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sspSlotId != null">ssp_slot_id,</if>
            <if test="dspSlotId != null">dsp_slot_id,</if>
            <if test="trafficWeight != null">traffic_weight,</if>
            <if test="launchStrategy != null">launch_strategy,</if>
            <if test="floorPrice != null">floor_price,</if>
            <if test="ipLimit != null">ip_limit,</if>
            <if test="logCaptureAt != null">log_capture_at,</if>
            <if test="trackSchwarz != null">track_schwarz,</if>
            <if test="req != null">req,</if>
            <if test="ims != null">ims,</if>
            <if test="clk != null">clk,</if>
            <if test="launchTime != null">launch_time,</if>
            <if test="regionDirection != null">region_direction,</if>
            <if test="brandDirection != null">brand_direction,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sspSlotId != null">#{sspSlotId},</if>
            <if test="dspSlotId != null">#{dspSlotId},</if>
            <if test="trafficWeight != null">#{trafficWeight},</if>
            <if test="launchStrategy != null">#{launchStrategy},</if>
            <if test="floorPrice != null">#{floorPrice},</if>
            <if test="ipLimit != null">#{ipLimit},</if>
            <if test="logCaptureAt != null">#{logCaptureAt},</if>
            <if test="trackSchwarz != null">#{trackSchwarz},</if>
            <if test="req != null">#{req},</if>
            <if test="ims != null">#{ims},</if>
            <if test="clk != null">#{clk},</if>
            <if test="launchTime != null">#{launchTime},</if>
            <if test="regionDirection != null">#{regionDirection},</if>
            <if test="brandDirection != null">#{brandDirection},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateDspLaunch" parameterType="DspLaunch">
        update dsp_launch
        <trim prefix="SET" suffixOverrides=",">
            <if test="sspSlotId != null">ssp_slot_id = #{sspSlotId},</if>
            <if test="dspSlotId != null">dsp_slot_id = #{dspSlotId},</if>
            <if test="trafficWeight != null">traffic_weight = #{trafficWeight},</if>
            <if test="launchStrategy != null">launch_strategy = #{launchStrategy},</if>
            <if test="floorPrice != null">floor_price = #{floorPrice},</if>
            <if test="ipLimit != null">ip_limit = #{ipLimit},</if>
            <if test="logCaptureAt != null">log_capture_at = #{logCaptureAt},</if>
            <if test="trackSchwarz != null">track_schwarz = #{trackSchwarz},</if>
            <if test="req != null">req = #{req},</if>
            <if test="ims != null">ims = #{ims},</if>
            <if test="clk != null">clk = #{clk},</if>
            <if test="launchTime != null">launch_time = #{launchTime},</if>
            <if test="regionDirection != null">region_direction = #{regionDirection},</if>
            <if test="brandDirection != null">brand_direction = #{brandDirection},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDspLaunchById" parameterType="Long">
        delete from dsp_launch where id = #{id}
    </delete>

    <delete id="deleteDspLaunchByIds" parameterType="String">
        delete from dsp_launch where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>